html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, "microsoft jhengHei";
    color: rgb(61, 61, 68);
    letter-spacing: 1px;
}

body{
    background-color: rgb(226, 224, 235);
    font-size: 14px;
    min-width: 720px;
}

#nowPlayingBarContainer{
    width: 100%;
    background-color: rgb(200, 197, 211);
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight{
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight{
    position: relative;
	margin-top: 16px;
}

#nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content{
    width: 100%;
    height: 57px;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 35px;
    height: 35px;
}

.controlButton:hover{
    cursor: pointer;
}

.progressTime{
    color: #363447;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar{
    display: flex;
}

.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg{
    background-color: whitesmoke;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress{
    background-color: #363447;
    height: 4px;
    width: 0px;
    border-radius: 2px; 
}

.playbackBar.progressBar{
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork{
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
    }

#nowPlayingLeft .trackInfo .artistName span{
	font-size: 12px;
	color: #4f4d5f;
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: rgb(163, 166, 184);
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.navBar{
	padding: 25px;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;/*for user on  Microsoft IE 瀏覽器 */
}

.logo{
	margin-bottom: 14px;
}

.logo img{
	width: 45px;
}

.navBar .group{
	border-top: 1px solid #34495E;
	padding: 10px 0;
}

.navItem{
	padding: 10px 0;
	font-size: 15px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink{
	color: #34495E;
	text-decoration: none;
}

.navItemLink:hover{
	color: #dfddf1;
}

.navItemLink .icon{
    position: absolute;
	right: 0;
	top: 6px;
	width: 25px;
}

#mainViewContainer{
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100% - 220px)
}

#mainContent{
	padding: 0 20px;
}

.pageHeadingBig{
	padding: 20px;
	text-align: center;
}

.gridViewItem{
	display: inline-block;
	margin-right: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
	margin-bottom: 20px;
}

.gridViewItem img{
	width: 100%;
}

.gridViewInfo{
	font-weight: 300;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis; /*字太多時會出現...*/
	overflow: hidden;
	white-space: nowrap;
}

.gridViewItem a{
	text-decoration: none;
}

.entityInfo{
	padding: 40px 0 10px 0;
	display: inline-block;
	width: 100%; 
}

.entityInfo .leftSection{
	width: 30%;
	float: left;
	max-width: 250px;
}

.entityInfo .leftSection img{
    width: 100%; 
}

.entityInfo .rightSection{
	width: 70%;
	float: left;
	padding: 5px 10px 5px 40px;
	box-sizing: border-box;
}

.entityInfo .rightSection h2{
	margin-top: 0;
}

.entityInfo .rightSection p{
	color: #4f4d5f;
	font-weight: 200;
}

.tracklist{
	padding:0;
}

.tracklistRow{
	height: 40px;
	padding: 15px 10px;
	list-style: none;
}

.tracklist span{
	color: #8985a1;
	font-weight: 200;
}

.tracklistRow:hover{
    background-color: rgb(193, 182, 202, 0.7);
}

.tracklistRow .trackCount{
	width: 8%;
	float: left;
}

.tracklistRow .trackCount img{
	width: 23px;
	visibility: hidden;
	position: absolute;
	cursor: pointer;

}

.tracklistRow:hover .trackCount img{
	visibility: visible;
}

.tracklistRow .trackCount span{
	visibility: visible;
}

.tracklistRow:hover .trackCount span{
	visibility: hidden;
}

.tracklistRow .trackInfo{
	width:  75%;
	float:left ;
}

.tracklistRow .trackInfo span{
	display: block;
}

.tracklistRow .trackOptions {
	width: 5%;
	float: left;
	text-align: right;
}

.tracklistRow .trackOptions img{
	width: 20px;
	visibility: hidden;
}

.tracklistRow:hover .trackOptions img{
	visibility: visible;
}

.tracklistRow .trackDuration {
	width: 12%;
	float: left;
	text-align: right; 
}

 .tracklistRow .trackInfo .trackName{
 	color:  #4f4d5f;
 	margin-bottom: 7px;
 }

 .artistInfo{
	 text-align: center;
 }

.button{
	 color: #4f4d5f;
	 cursor: pointer;
	 margin-bottom: 10px;
	 background-color: transparent;
	 font-weight: 500;
	 letter-spacing: 2px;
	 border: 2px solid #4f4d5f;
	 border-radius: 500px;
	 padding: 15px;
	 min-width: 120px;
	 font-size: 13px;
 }

 .button.purple{
	 background-color: rgb(200, 197, 211);
	 border-color: rgb(200, 197, 211);
 }

 .borderBottom{
	 border-bottom: 1px solid #8985a1;
	 margin-bottom: 20px;
 }

 .tracklistContainer h2,
 .gridViewContainer h2,
 .artistsContainer h2{
	 text-align: center;
 }

 [role="link"]{
	 cursor: pointer;
 }

 .searchContainer{
	 background-color: rgb(200, 197, 211);
	 padding: 20px 28px;
 }

 .searchContainer h4{
	 margin: 0;
	 font-weight: 300px;
 }

 .searchContainer .searchInput{
	 width: 100%;
	 background-color: transparent;
	 border: none;
	 color: #5f5e6d;
	 font-weight: 700px;
	 font-size: 40px;
	 letter-spacing: 2px;
 }

 input:focus{
	 outline: none;
 }

 .searchResultRow{
	 padding: 15px 10px;
 }

 .searchResultRow:hover{
	 background-color: rgb(193, 182, 202, 0.7);
 }

 .searchResultRow .artistName span{
	 color: #5f5e6d;
 }

 .noResults span{
	 margin: 15px;
	 display: block;
 }

 .buttonItems .button{
	 display: block;
	 margin: 0 auto 20px auto;
 }

 .playlistsContainer{
	 padding: 10px 0;
 }

 .playlistImage{
	 /*border: 3px solid #34495E;*/
	 padding: 10px;
 }

.optionsMenu{
	position: fixed;
	background-color: rgba(147, 126, 165, 0.7);
	width: 200px;
	border: 1px solid rgba(175, 168, 182, 0.459);
	border-radius: 3px;
	z-index: 1000;
	display: none;
}

.optionsMenu .item{
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	font-weight: 400;
	color: #4f4d5fc7;
	cursor: pointer;
	height: 40px;
	background-color: rgba(147, 126, 165, 0.7);
	font-size: 14px;
}

.optionsMenu .item:hover{
	color: #dfddf1;
	background-color: rgb(154, 135, 170);
	border-color: rgb(154, 135, 170);
}

.item.playlist{
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.userInfo h1{
	text-align: center;
}